body {
    display: flex;
    justify-content: center;
    
}

#submit{
        background-color: #fdaf62;
        color: black;
        border: solid;
        border-width: 1px;
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
}

button{
    background-color: #eccb5b;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#d8d7ff;
    border: solid;
    width: 30%;
    height:20%;
    }

hr{
    color: black;
}