body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#submit{
    background-color: #fdaf62;
    color: black;
}

button{
    background-color: #eccb5b;
}

form{
    background-color:#d8d7ff;
    border: solid;
    padding-left: 15px;
    width: 30%;
    height: 60%;
    }

hr{
    color: black;}